<div class="card w-75 text-center">
  <div class="card-header">Pentagram</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <input type="email" class="w-100" placeholder="Email" required>
      </li>
      <li class="list-group-item">
        <input type="text" class="w-100" placeholder="Full name" required>
      </li>
      <li class="list-group-item">
        <input type="text" class="w-100" placeholder="Username" required>
      </li>
      <li class="list-group-item">
        <input type="password" class="w-100" placeholder="Password" required>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary w-100">Sign up</button>
    <small class="align-text-bottom">Have an account? <button class="btn btn-sm btn-link" (click)="handleLoginClick()">Log in</button></small>
  </div>
</div>
